<div class="all-container">
  <div>
    <img #allContainer (click)="UnselectAll()" class="background-image"
      src="../../assets/images/WindowManager/background.jpg" />
  </div>

  <div style="
    position: fixed;
    bottom: 25px;
    left: 25px;
    font-size: 3vw;
    color: rgba(128, 128, 128, 0.3);
    z-index: 999;
    font-weight:400;
  ">
    C E N T E R
  </div>

  <div cdkDrag cdkDragBoundary=".all-container" [cdkDragDisabled]="false" (cdkDragEnded)="SendMoveWindowEvent(i)"
    style="position: absolute" *ngFor="let window of windows; let i = index" [id]="i" #windowsElementRefContainer>
    <app-window [windowInfo]="window" [color]="colors[i % colors.length]"
      (click)="SelectWindow(windowsElementRefContainer, window)" #window></app-window>
  </div>
</div>

<div *ngIf="selectedID" class="window-options-menu-panel">
  <div class="menu-panel">
    <div class="text menu-title">Window Options</div>
    <div class="window-options-container">
      <div class="button-with-text" (click)="SelectOpenPage()">
        <img class="icon" src="../../assets/images/WindowManager/Menu/openPage.png" />
        <div class="text">Open Page</div>
      </div>

      <div class="button-with-text" (click)="SendCloseWindowEvent()">
        <img class="icon" src="../../assets/images/WindowManager/Menu/closeWindow.png" />
        <div class="text">Close Window</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectPageOpen" class="page-selection-menu-panel">
  <div class="menu-panel">
    <div class="text menu-title">Select Page</div>
    <div class="pages-container">
      <div (click)="SendChangeWindowPageEvent(shortcut.path)" *ngFor="let shortcut of shortcuts"
        class="button-with-text">
        <img class="icon" src="{{ shortcut.icon }}" />
        <div class="text">{{ shortcut.text }}</div>
      </div>
    </div>
  </div>
</div>

<img (click)="SendCreateWindowEvent()" id="add-window-button" src="../../assets/images/WindowManager/addWindow.png" />